node_modules
data
npm-debug.log
storage
ezmesure.local.env.sh
certificates/

docker/rabbitmq/definitions.d/00-users.json
docker/satosa/certs/*
!docker/satosa/certs/.gitkeep
docker/certs/*
!docker/certs/.gitkeep

compose.override.yml

.env.local
.env.override
