version: '2.4'
services:
  elastic:
    extends:
      file: docker-compose.yml
      service: elastic

  kibana:
    build:
      context: ./kibana
      dockerfile: Dockerfile-dev
    ports:
      - 5601:5601
      - 5603:5603
    environment:
      - ELASTICSEARCH_PASSWORD=${KIBANA_PASSWORD}
      - ELASTICSEARCH_USERNAME=${KIBANA_USERNAME:-kibana_system}
      - SERVER_BASEPATH
      - SERVER_PUBLICBASEURL=https://${EZMESURE_DOMAIN}${SERVER_BASEPATH}
      - SERVER_HOST
      - SERVER_PORT
      - THIS_HOST
      - ELASTICSEARCH_HOSTS
      - XPACK_MONITORING_ENABLED
      - KIBANA_DEFAULTAPPID
      - XPACK_REPORTING_KIBANASERVER_HOSTNAME
      - APPLI_APACHE_SERVERNAME
      - REPORTING_URL=${EZMESURE_REPORTING_URL:-http://reporting:3000}
      - EZMESURE_APPLICATION_NAME
    working_dir: /home/kbn-dev/kibana
    volumes:
      - ./kibana/config/kibana.dev.yml:/home/kbn-dev/kibana/config/kibana.dev.yml:ro
      - ./kibana/plugins:/home/kbn-dev/kibana/plugins
    restart: unless-stopped

  rp:
    extends:
      file: docker-compose.yml
      service: rp

  api:
    image: node:14.17.1
    ports:
      - 3000:3000
    volumes:
      - "./api:/usr/src/app"
      - "./data/api/storage:/usr/src/app/storage"
      - "./data/api/uploads:/usr/src/app/uploads"
      - "./templates:/usr/src/app/templates"
    working_dir: /usr/src/app
    environment:
      - http_proxy
      - https_proxy
      - no_proxy=localhost,kibana
      - EZMESURE_ELASTIC_HOST=${EZMESURE_ELASTIC_HOST:-elastic}
      - EZMESURE_ELASTIC_PORT=${EZMESURE_ELASTIC_PORT:-9200}
      - EZMESURE_KIBANA_HOST=${EZMESURE_KIBANA_HOST:-kibana}
      - EZMESURE_KIBANA_PORT=${EZMESURE_KIBANA_PORT:-5601}
      - ELASTICSEARCH_PASSWORD
      - KIBANA_PASSWORD
      - EZMESURE_ADMIN_USERNAME
      - EZMESURE_ADMIN_PASSWORD
      - EZMESURE_AUTH_SECRET
      - EZMESURE_SMTP_HOST=maildev
      - EZMESURE_SMTP_PORT=25
      - EZMESURE_NOTIFICATIONS_SENDER
      - EZMESURE_NOTIFICATIONS_CRON
      - EZMESURE_NOTIFICATIONS_RECIPIENTS
      - EZMESURE_SEND_EMPTY_ACTIVITY
      - EZMESURE_ENCRYPTION_SECRET
      - NODE_ENV
      - NODE_CONFIG
    restart: "no"
    command: npm run dev

  front:
    image: node:14.17.1-alpine3.13
    ports:
      - 8080:8080
    volumes:
      - "./front:/usr/src/app"
    working_dir: /usr/src/app
    environment:
      - API_URL=https://${EZMESURE_DOMAIN}/api
      - EZMESURE_DISABLE_SHIBBOLETH
      - HOST=0.0.0.0
      - PORT=8080
    command: npm run dev
    restart: "no"

  reporting:
    build:
      context: ./reporting
      args:
        - http_proxy
        - https_proxy
    ports:
      - 4000:3000
    volumes:
      - "./reporting/logs:/usr/src/app/logs"
      - "./reporting/tmp:/usr/src/app/tmp"
      - "./reporting:/usr/src/app"
      - "./templates:/usr/src/app/templates"
    working_dir: /usr/src/app
    environment:
      - NODE_ENV=development
      - http_proxy
      - https_proxy
      - no_proxy=localhost,rp
      - REPORTING_PORT=3000
      - REPORTING_ELASTIC_HOST=${EZMESURE_ELASTIC_HOST:-elastic}
      - REPORTING_ELASTIC_PORT=${EZMESURE_ELASTIC_PORT:-9200}
      - REPORTING_SMTP_HOST=maildev
      - REPORTING_SMTP_PORT=25
      - REPORTING_SENDER
      - REPORTING_INDEX=.ezreporting
      - REPORTING_FREQUENCIES
      - KIBANA_INTERNAL_URL=${KIBANA_INTERNAL_URL:-https://rp/kibana}
      - KIBANA_EXTERNAL_URL
      - NODE_CONFIG
      - REPORTING_ELASTIC_USER=${ELASTICSEARCH_USERNAME}
      - REPORTING_ELASTIC_PASSWORD=${ELASTICSEARCH_PASSWORD}
    restart: "no"
    command: npm run dev

  maildev:
    image: djfarrelly/maildev
    ports:
      - 1080:80
