version: '2.4'
services:
  elastic:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.4.2
    ports:
      - 9200:9200
      - 9300:9300
    environment:
      - http_proxy
      - https_proxy
      - CLUSTER_NAME=ezmesure
      - EZMESURE_ES_PUBLISH
      - EZMESURE_ES_NODE_NAME
      - EZMESURE_ES_DISCOVERY
      - EZMESURE_ES_DISCOVERY_TYPE
      - EZMESURE_ES_NODE_MASTER
      - EZMESURE_ES_NODE_DATA
      - EZMESURE_ES_NODE_INGEST
      - EZMESURE_ES_NODE_SEARCH_REMOTE
      - EZMESURE_ES_INITIAL_MASTER_NODES
      - EZMESURE_SMTP_HOST
      - ELASTIC_PASSWORD=${ELASTICSEARCH_PASSWORD}
      - bootstrap.memory_lock=true
      - ES_JAVA_OPTS
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: ${EZMESURE_ES_MEM_LIMIT}
    volumes:
      - "./data/elastic/data:/usr/share/elasticsearch/data"
      - "./elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml"
      - "./elasticsearch/config/certificates:/usr/share/elasticsearch/config/x-pack/certificates"
    restart: unless-stopped

  kibana:
    build:
      context: ./kibana
    ports:
      - 5601:5601
    environment:
      - http_proxy
      - https_proxy
      - no_proxy
      - ELASTICSEARCH_PASSWORD
      - ELASTICSEARCH_USERNAME
      - SERVER_BASEPATH
      - SERVER_HOST
      - SERVER_PORT
      - THIS_HOST
      - ELASTICSEARCH_HOSTS
      - XPACK_MONITORING_ENABLED
      - KIBANA_DEFAULTAPPID
      - XPACK_REPORTING_KIBANASERVER_HOSTNAME
      - APPLI_APACHE_SERVERNAME
      - REPORTING_URL=${EZMESURE_REPORTING_URL:-http://reporting:3000}
      - EZMESURE_APPLICATION_NAME
    volumes:
      - ./kibana/config/kibana.yml:/usr/share/kibana/config/kibana.yml
    restart: unless-stopped

  api:
    build:
      context: ./api
      args:
        - http_proxy
        - https_proxy
    ports:
      - 3000:3000
    environment:
      - http_proxy
      - https_proxy
      - no_proxy=localhost,kibana
      - EZMESURE_ELASTIC_HOST=${EZMESURE_ELASTIC_HOST:-elastic}
      - EZMESURE_ELASTIC_PORT=${EZMESURE_ELASTIC_PORT:-9200}
      - EZMESURE_KIBANA_HOST=${EZMESURE_KIBANA_HOST:-kibana}
      - EZMESURE_KIBANA_PORT=${EZMESURE_KIBANA_PORT:-5601}
      - ELASTICSEARCH_PASSWORD
      - EZMESURE_ADMIN_USERNAME
      - EZMESURE_ADMIN_PASSWORD
      - EZMESURE_AUTH_SECRET
      - EZMESURE_SMTP_HOST
      - EZMESURE_SMTP_PORT
      - EZMESURE_SMTP_SECURE
      - EZMESURE_SMTP_IGNORE_TLS
      - EZMESURE_SMTP_REJECT_UNAUTHORIZED
      - EZMESURE_NOTIFICATIONS_SENDER
      - EZMESURE_NOTIFICATIONS_CRON
      - EZMESURE_NOTIFICATIONS_RECIPIENTS
      - EZMESURE_SEND_EMPTY_ACTIVITY
      - EZMESURE_ENCRYPTION_SECRET
      - NODE_ENV
      - NODE_CONFIG
    volumes:
      - "./data/api/storage:/usr/src/app/storage"
      - "./data/api/uploads:/usr/src/app/uploads"
      - "./templates:/usr/src/app/templates"
    restart: unless-stopped

  front:
    build:
      context: ./front
      args:
        - http_proxy
        - https_proxy
        - EZMESURE_DISABLE_SHIBBOLETH
    ports:
      - 8080:8080
    environment:
      - API_URL=https://${EZMESURE_DOMAIN}/api
      - PORT=8080
      - HOST=0.0.0.0
    restart: unless-stopped

  rp:
    build:
      context: ./rp
      args:
        - http_proxy
        - https_proxy
    ports:
      - 443:443
    environment:
      - http_proxy
      - https_proxy
      - APPLI_APACHE_SERVERNAME
      - APPLI_APACHE_SERVERADMIN
      - APPLI_APACHE_LOGLEVEL
      - EZMESURE_DISABLE_SHIBBOLETH
      - SHIBBOLETH_SP_URL
      - SHIBBOLETH_DS_URL
      - EZMESURE_FRONT_URL=${EZMESURE_FRONT_URL:-http://front:8080}
      - EZMESURE_API_URL=${EZMESURE_API_URL:-http://api:3000}
      - EZMESURE_KIBANA_URL=http://${EZMESURE_KIBANA_HOST:-kibana}:${EZMESURE_KIBANA_PORT:-5601}
    working_dir: /var/www/html
    volumes:
      - ./rp/shibboleth:/etc/shibboleth
      - ./rp/shibboleth/ssl:/etc/shibboleth/ssl
      - ./rp/apache2/ssl:/etc/ssl/certificates
      - ./rp/apache2/sites-available:/etc/apache2/sites-available
      - ./rp/sp-log/:/var/log/shibboleth/
      - ./rp/sp-cache:/var/cache/shibboleth
    restart: unless-stopped

  reporting:
    build:
      context: ./reporting
      args:
        - http_proxy
        - https_proxy
    ports:
      - 4000:3000
    environment:
      - http_proxy
      - https_proxy
      - no_proxy=localhost,rp
      - REPORTING_PORT=3000
      - REPORTING_ELASTIC_HOST=${EZMESURE_ELASTIC_HOST:-elastic}
      - REPORTING_ELASTIC_PORT=${EZMESURE_ELASTIC_PORT:-9200}
      - REPORTING_ELASTIC_USER=${ELASTICSEARCH_USERNAME}
      - REPORTING_ELASTIC_PASSWORD=${ELASTICSEARCH_PASSWORD}
      - REPORTING_SMTP_HOST=${EZMESURE_SMTP_HOST}
      - REPORTING_SMTP_PORT
      - REPORTING_SENDER
      - REPORTING_INDEX=.ezreporting
      - REPORTING_FREQUENCIES
      - KIBANA_INTERNAL_URL=${KIBANA_INTERNAL_URL:-https://rp/kibana}
      - KIBANA_EXTERNAL_URL
      - NODE_CONFIG
      - REPORTING_NAME
    volumes:
      - "./templates:/usr/src/app/templates"
      - "./reporting/logs:/usr/src/app/logs"
      - "./reporting/tmp:/usr/src/app/tmp"
    restart: unless-stopped
