include:
  - docker-compose.common.yml
services:
  api:
    build:
      context: ./api
      args:
        - http_proxy
        - https_proxy
    ports:
      - 3000:3000
    environment:
      - http_proxy
      - https_proxy
      - no_proxy=localhost,kibana,reporting
      - EZMESURE_ELASTIC_SCHEME=${EZMESURE_ELASTIC_SCHEME:-https}
      - EZMESURE_ELASTIC_HOST=${EZMESURE_ELASTIC_HOST:-elastic}
      - EZMESURE_ELASTIC_PORT=${EZMESURE_ELASTIC_PORT:-9200}
      - EZMESURE_KIBANA_HOST=${EZMESURE_KIBANA_HOST:-kibana}
      - EZMESURE_KIBANA_PORT=${EZMESURE_KIBANA_PORT:-5601}
      - EZMESURE_REDIS_HOST=${EZMESURE_REDIS_HOST:-redis}
      - EZMESURE_REDIS_PASSWORD=${EZMESURE_REDIS_PASSWORD:-changeme}
      - EZMESURE_REPORT_HOST=${EZMESURE_REPORT_HOST:-reporting}
      - EZMESURE_REPORT_PORT=${EZMESURE_REPORT_PORT:-8080}
      - EZMESURE_REPORT_SYNC_SCHEDULE
      - EZMESURE_REPORT_ADMIN_KEY=${EZREEPORT_REPORT_ADMIN_KEY}
      - EZMESURE_POSTGRES_URL=postgresql://${EZMESURE_POSTGRES_USER:-postgres}:${EZMESURE_POSTGRES_PASSWORD:-changeme}@${EZMESURE_POSTGRES_HOST:-postgres}:${EZMESURE_POSTGRES_PORT:-5432}/${EZMESURE_POSTGRES_DB:-ezmesure}?schema=public
      - EZMESURE_HARVEST_CONCURRENCY
      - EZMESURE_MAX_DEFERRALS
      - EZMESURE_DEFERRAL_BACKOFF_DURATION
      - EZMESURE_BUSY_BACKOFF_DURATION
      - ELASTICSEARCH_PASSWORD
      - KIBANA_PASSWORD
      - EZMESURE_USERS_DELETE_DURATION_DAYS
      - EZMESURE_ADMIN_USERNAME
      - EZMESURE_ADMIN_PASSWORD
      - EZMESURE_ADMIN_EMAIL
      - EZMESURE_AUTH_SECRET
      - EZMESURE_SMTP_HOST
      - EZMESURE_SMTP_PORT
      - EZMESURE_SMTP_SECURE
      - EZMESURE_SMTP_IGNORE_TLS
      - EZMESURE_SMTP_REJECT_UNAUTHORIZED
      - EZMESURE_NOTIFICATIONS_SENDER
      - EZMESURE_NOTIFICATIONS_CRON
      - EZMESURE_NOTIFICATIONS_REPLY_TO
      - EZMESURE_SEND_EMPTY_ACTIVITY
      - EZMESURE_ENCRYPTION_SECRET
      - EZMESURE_LOG_LEVEL
      - EZMESURE_PUBLIC_URL
      - NODE_ENV
      - NODE_CONFIG
    volumes:
      - "${EZMESURE_API_STORAGE_DIR:-./data/api/storage}:/usr/src/app/storage"
      - "${EZMESURE_API_UPLOADS_DIR:-./data/api/uploads}:/usr/src/app/uploads"
      - "./api/templates:/usr/src/app/templates"
    restart: unless-stopped

  front:
    build:
      context: ./front
      args:
        - http_proxy
        - https_proxy
    ports:
      - 8080:8080
    environment:
      - NUXT_PUBLIC_CURRENT_INSTANCE
      - NUXT_PUBLIC_SUPPORT_MAIL
      - NUXT_PUBLIC_SHIBBOLETH_DISABLED
      - HOST=0.0.0.0
      - PORT=8080
    restart: unless-stopped
