---
extends: "@elastic/kibana"

settings:
  import/resolver:
    '@elastic/eslint-import-resolver-kibana':
      rootPackageName: 'kibana'

rules:
  '@kbn/eslint/require-license-header': 'off'
  import/no-unresolved: 'off'
  no-restricted-globals: 'off'