:root {
  --header-height: 22mm;
  --footer-height: 12mm;
}

#dashboardViewport {
  position: relative;
  width: var(--page-width);
  padding: 0 10mm;
}

.reporting-footer,
.reporting-header
{
  position: relative;
  width: 100%;
  color: black;
}

.reporting-header {
  display: block;
  height: var(--header-height);
  margin: 0;
  padding: 5mm 0;
  page-break-before: always;
  page-break-inside: avoid;
  text-align: center;
  line-height: 6mm;
  overflow: visible;
}

.reporting-header-title {
  font-size: 6mm;
}
.reporting-header-subtitle {
  font-size: 4mm;
}
.reporting-header-caption {
  font-size: 4mm;
}

.reporting-footer {
  height: var(--footer-height);
  page-break-before: avoid;
  page-break-after: always;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  overflow: visible;
}

.reporting-footer .footer-logos {
  flex: 1;
  display: flex;
  align-items: center;
}
.reporting-footer .footer-logo {
  max-height: calc(var(--footer-height) - 4mm);
  margin-right: 3mm;
}
.reporting-footer .footer-page {
  display: flex;
  align-items: center;
  font-size: 3mm;
}

.react-grid-item.reporting-optimized {
  display: block !important;
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  background-color: inherit !important;
  z-index: 1 !important;
  width: 100% !important;
  height: calc(var(--page-height) - var(--header-height) - var(--footer-height)) !important;
  padding: 3mm 0 !important;
  margin: 0 !important;
  transform: none !important;
  -webkit-transform: none !important;
  page-break-inside: avoid !important;
}
