name: Generate ERD of api database

on:
  push:
    branches:
      - master
      - postgres # temporary
    paths:
      - '.github/workflows/api-erd.yml'
      - 'api/prisma/schema.prisma'

env:
  PRISMA_SCHEMA: api/prisma/schema.prisma
  OUT_PATH: api/prisma/doc/ERD.svg
  COMMIT_NAME: 'doc(api): updated ERD[skip ci]'

jobs:
  generate-erd:
    permissions: write-all
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate ERD
        run: 'curl -X POST -d "$(cat ${{ env.PRISMA_SCHEMA }})" -H "Content-Type: text/plain" -o "${{ env.OUT_PATH }}" https://p-erd.oxypomme.fr/erd/'

      - name: Commit files
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit -m "${{ env.COMMIT_NAME }}"

          remote_repo="https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git"
          git push ${remote_repo} HEAD:${{ github.ref }} --follow-tags
